body{
	background-color:#c6e7f0;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	margin: 0;
}

h1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

a {
  margin-left: 13vw;
  font-size: 3vh;
}

.Border {
  border-left: 4.5vw solid #333;
  border-right: 4.5vw solid #333;
}

.App-logo {
  height: 40vmin;
  margin-left: 8vw;
}

.container{
  width: 80%;
	margin:auto;
	overflow:hidden;
}

.Loginform {
  margin-left: 2vw;
}

.header{
  margin-top:-1vw;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1px;
  background-color:rgb(0, 174, 255);
	color:#fff;
  border: 0px;
}

.navbar{
	background-color:#333;
	color:#fff;
  border:0;
}

.box {
  float:left;
  width: 70px;
  font-size: 20px;
  padding: 1vw;
}

#welcome {
  margin-left: 16vw;
  font-size: 5vh;
  color:black;
  margin-top: 2vh;
}

.container2{
  width:80%;
	margin:auto;
	overflow:hidden;
  margin:0;
}

#label1{
  margin-left: 8.45vw;
}

#label2{
  margin-left: 8vw;
}

#a {
  margin-left: 8vw;
  padding-bottom: 1vw;
  font-size: 20px;
}


.forms {
  padding: 0.5vh;
  width: 15vw;
  margin-left: 3vw;
  margin-bottom: 2vh;
  border: 0.15vw solid black;
  border-radius: 0.4vw;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 2vh;
}

#emailid{
  margin-left: 3vw;
}


#remme {
  margin-left: 9.2vw;
}

.button {
  background-color: rgb(2, 175, 255);
  color:white;
  margin-top: 3vh;
  margin-left: 10vw;
  width: 20vw;
  padding: 1vh;
  border:0.15vw solid black;
  border-radius: 0.4vw;
  font-size: 2vh;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(5, 89, 128);
}

#label3{
  margin-top: 1vh;
  margin-left: 10vw;
}

.comments {
  margin-left: 10vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
  padding: 1vw;
  width: 15vw;
  height: 10vh;
  border: 0.15vw solid black;
  border-radius: 0.4vw;
  font-size: 2.5vh;
  font-family:Helvetica, Arial, sans-serif;
}

#dice {
  margin-left: 13vw;
  margin-bottom: 5vh;
  font-size: 3vh;
}

.footer {
  background: #333;
	color:#fff;
	text-align: center;
	padding: 0.5vh;
	margin-top: 2vh;
}

#copyright {
  margin-left: 16vw;
}